.about {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: @greyish-brown;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 319px;
    top: 16px;
    height: 6px;
    background-size: 319px 110%;
    transform: rotate(180deg);
    background-repeat: repeat-x;
    background-image: url("../img/bg-zigzag-line.svg");

    @media (min-width: @tablet-width) {
      width: 771px;
      height: 15px;
      top: 8px;
      background-size: 100% 104%;
    }

    @media (min-width: @desktop-width) {
      width: 1050px;
      height: 23px;
      left: 50px;
      top: 4px;
      background-size: 100% 100%;
    }
  }
}

.about__us {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding-top: 49px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
    margin-left: -3px;
    padding-top: 74px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-left: 172px;
    padding-top: 88px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 875px;
    padding-left: 175px;
  }
}

.about__ltem {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @black;
  padding-top: 83px;

  &--flower {
    order: -3;
    padding-right: 85px;

    @media (min-width: @tablet-width) {
      padding-right: 110px;
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 120px;
    }
  }

  &--money {
    order: -1;
    padding-right: 60px;

    @media (min-width: @tablet-width) {
      padding-right: 75px;
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 100px;
    }
  }

  &--heart {
    order: 1;
    padding-right: 70px;

    @media (min-width: @tablet-width) {
      padding-right: 95px;
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 110px;
    }
  }

  &--ball {
    order: -2;
    padding-right: 45px;

    @media (min-width: @tablet-width) {
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 50px;
    }
  }

  &--rocket {
    order: 0;
    padding-right: 0;

    @media (min-width: @tablet-width) {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  &--gift {
    order: 2;
    padding-right: 45px;
    padding-bottom: 55px;

    @media (min-width: @tablet-width) {
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 60px;
    }
  }

  &--flower::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 40px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 31px;
    left: 6px;

    @media (min-width: @tablet-width) {
      top: 0;
    }
  }

  &--money::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 31px;
    left: -2px;

    @media (min-width: @tablet-width) {
      top: 0;
    }
  }

  &--heart::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 30px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 36px;
    left: 6px;

    @media (min-width: @tablet-width) {
      top: 5px;
    }
  }

  &--ball::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 37px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 31px;
    left: 2px;

    @media (min-width: @tablet-width) {
      top: 0;
      left: 1px;
    }
  }

  &--rocket::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 26px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 34px;
    left: -8px;

    @media (min-width: @tablet-width) {
      top: 2px;
    }
  }

  &--gift::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 31px;
    left: 1px;

    @media (min-width: @tablet-width) {
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
  }
}
