.catalog-item__link-image {
  margin-bottom: 0;
}

.catalog-item__short-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  padding-top: 20px;
  text-align: center;

  border-top: 2px solid @footer;
  border-left: 2px solid @footer;
  border-right: 2px solid @footer;
}

.catalog-item__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;
  padding-left: 40px;
  padding-bottom: 10px;

  border-left: 2px solid @footer;
  border-right: 2px solid @footer;

  color: @greyish-brown;
}

.catalog-item__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;

  border-bottom: 2px solid @footer;
  border-left: 2px solid @footer;
  border-right: 2px solid @footer;
}
