.catalog-card {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.catalog-card__item {
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 20px;
}
