.catalog-item__link-image {
  display: block;
  line-height: 0;
  margin-bottom: 0;
}

.catalog-item__wrapper {
  border: 1px solid @white-g;
  margin: 0;
  padding: 27px 28px 28px;

  &--middle {
    margin-bottom: 41px;
  }

  &--bottom {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-item__short-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.catalog-item__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;

  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__price {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 204px;
    height: 1px;
    background-color: @white-g;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__button-cart {
  opacity: 0.2;
}
