.category__list {
  list-style: none;
}

.category__list-link {
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  color: @white;
  background-color: @leftgreenbtn;
}
