.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  color: @black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.copyright__text {
  padding-bottom: 5px;
  margin-right: 26px;
}

.copyright__link {
  display: flex;
  align-items: center;

  fill: @leftgreen;

  &:hover {
    fill: @footericon;
  }

  &:active {
    opacity: 0.3;
  }
}
