.copyright {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: @black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.copyright__link--image {
  fill: #92dccd;
}
