.create__process-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.create__process {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;

  padding-left: 90px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid @white-g;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 25px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
    left: 25px;

    @media (min-width: @tablet-width) {
      top: 25px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 0;
    order: 2;
    border-bottom: none;
  }
}

.create__video-wrapper {
  position: relative;
  line-height: 0;
}

.create__video {
  width: 260px;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }
}

.create__video-button {
  position: absolute;
  top: 40px;
  left: 80px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    top: 220px;
    left: 285px;
  }
}

.create__wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid @white-g;
  border-right: 1px solid @white-g;
  border-bottom: 1px solid @white-g;
  margin-bottom: 50px;
}

.create__description {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;

  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.create__button {
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: @greyish-brown;

  width: 192px;
  height: 52px;

  padding-top: 15px;
  margin-bottom: 30px;

  border: 2px solid @greyish-brown;

  @media (min-width: @tablet-width) {
    width: 584px;
    height: 52px;
  }
}
