
.create__process-content {
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  position: relative;
  margin-bottom: 61px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 107px;
  }
}

.create__process-wrapper {
  @media (max-width: @only-mobile-width) {
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 682px;
    margin-top: 4px;
  }
}

.create__process {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;

  padding-left: 90px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 22px;
  border: 1px solid @white-g;
  margin-bottom: 0;
  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 25px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
    left: 31px;

    @media (min-width: @tablet-width) {
      top: 37px;
      left: 39px;
    }

    @media (min-width: @desktop-width) {
      top: 46px;
      left: 77px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 0;
    border-bottom: none;
    padding-left: 106px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 96px;
    padding-left: 77px;
    padding-right: 100px;
  }
}

.create__video-wrapper {
  position: relative;
  line-height: 0;

  @media (min-width: @desktop-width) {
    padding-top: 4px;
  }

  &--desktop {
    order: -1;

    @media (min-width: @desktop-width) {
      position: absolute;
    }
  }
}

.create__video {
  width: 260px;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 683px;
  }
}

.create__video-button {
  position: absolute;
  top: 35px;
  left: 80px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    top: 189px;
    left: 284px;
  }

  @media (min-width: @desktop-width) {
    top: 193px;
    left: 292px;
  }
}

.create__wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid @white-g;
  border-right: 1px solid @white-g;
  border-bottom: 1px solid @white-g;

  @media (min-width: @desktop-width) {
    margin-left: 682px;
  }
}

.create__description {
  margin-top: 0;
  padding-top: 27px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 12px;

  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 77px;
    padding-bottom: 22px;
    padding-top: 19px;
  }
}

.create__button {
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: @greyish-brown;

  width: 192px;
  height: 52px;

  padding-top: 15px;
  margin-bottom: 30px;

  border: 2px solid @greyish-brown;

  @media (min-width: @tablet-width) {
    width: 584px;
    height: 52px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    height: 52px;
    margin-bottom: 57px;
    margin-left: 22px;
  }
}
