.form {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    &--radio {
      position: relative;
      padding-top: 30px;
    }

    &--colors {
      position: relative;
      padding-top: 30px;
    }

    &--name {
      position: relative;
      padding-top: 30px;
    }

    &--textarea {
      position: relative;
    }
  }
}

.form__legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: @leftgreen;

  &--radio {
    position: relative;
    padding-bottom: 25px;

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  &--checkbox {
    position: relative;
    padding-bottom: 25px;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 30px;
      left: 0;
    }

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }
  }

  &--name {
    position: relative;
    padding-top: 35px;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 30px;
      left: 0;
    }

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 41px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--colors {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__item {
  margin-bottom: 15px;


  @media (min-width: @tablet-width) {
    margin-bottom: 30px;

    &--radio {
      padding-left: 180px;
      margin-bottom: 40px;
    }

    &--white {
      padding-left: 180px;
    }

    &--grey {
      padding-left: 60px;
    }

    &--tiffany {
      padding-left: 180px;
    }

    &--black {
      padding-left: 10px;
    }

    &--rose {
      padding-left: 180px;
    }

    &--orange {
      padding-left: 37px;
    }
  }
}

.form__label {
  display: inline-block;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }

  &--text {
    padding-top: 35px;

    @media (min-width: @tablet-width) {
      padding-right: 30px;
    }
  }

  &--tel {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    padding-top: 35px;

    @media (min-width: @tablet-width) {
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (max-width: @only-mobile-width) {
      &::before {
        content: "";
        position: absolute;
        top: 41px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 65px;
      right: 2px;
      width: 26px;
      height: 26px;
      background-image: url("../img/icon-phone.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        right: 0;
        left: 620px;
        top: 0;
      }
    }
  }

  &--email {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    padding-top: 35px;

    @media (min-width: @tablet-width) {
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (max-width: @only-mobile-width) {
      &::before {
        content: "";
        position: absolute;
        top: 41px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }


    &::after {
      content: "";
      position: absolute;
      top: 60px;
      right: 3px;
      width: 32px;
      height: 26px;
      background-image: url("../img/icon-mail.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        right: 0;
        left: 615px;
        top: 0;
      }
    }
  }

  &--radio {
    position: relative;
    padding-left: 65px;
    padding-right: 30px;

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid  @leftgreen;
      border-radius: 50%;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 65px;
    padding-right: 30px;

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid  @greyish-brown;
    }
  }

  &--textarea {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    padding-top: 35px;

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 41px;
        left: 65px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 30px;
      left: 0;
    }
  }
}

.form__control {
  font-family: @font-main;
  font-style: normal;

  color: @greyish-brown;

  width: 260px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    &--text {
      border-bottom: 2px solid @black;
      width: 375px;
    }

    &--name {
      width: 428px;
    }
  }

  &--tel {
    padding-right: 30px;
    background-color: transparent;

    @media (min-width: @tablet-width) {
      width: 500px;
      border-bottom: 2px solid @black;
    }
  }

  &--email {
    background-color: transparent;
    padding-right: 30px;

    @media (min-width: @tablet-width) {
      width: 500px;
      border-bottom: 2px solid @black;
    }
  }

  &--textarea {
    border: 2px solid @greyish-brown;

    @media (min-width: @tablet-width) {
      width: 500px;
      margin-top: 50px;
      margin-left: 170px;
    }
  }

  &::placeholder {
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: @greyish-brown-30;

    @media (min-width: @tablet-width) {
      font-size: 19px;
    }
  }

  &--tel::placeholder {
    font-size: 19px;
  }
}

.form__wrapper {
  border-bottom: 2px solid @black;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    &--name {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      border: none;
      padding-left: 140px;
    }

    &--tel {
      flex-direction: row;
      justify-content: space-between;
      border: none;
      margin-top: 40px;
    }

    &--email {
      flex-direction: row;
      justify-content: space-between;
      border: none;
      margin-top: 40px;
    }
  }
}

.form__footnote-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}

.form__footnote {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #444444;
  background-color: @white;

  width: 260px;
  min-height: 52px;

  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid #444444;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
