.form {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: @greyish-brown;

  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;

    padding-top: 100px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--radio {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      margin-bottom: 12px;
    }
  }

  &--colors {
    @media (min-width: @tablet-width) {
      padding-top: 65px;
      padding-bottom: 11px;
      margin-bottom: 60px;
    }
  }

  &--name {
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
      margin-bottom: 16px;
    }
  }

  &--tool {
    @media (max-width: @tablet-width) {
      margin-bottom: 32px;
    }
  }

  &--textarea {
    margin-bottom: 11px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 140px;

    &--textarea {
      padding-left: 0;
      position: relative;
    }

    &--bgcolor {
      background-color: @white-g;
    }

    &--tool {
      padding-left: 0;
    }
  }
}

.form__legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: @leftgreen;

  &--radio {
    position: relative;
    margin-bottom: 32px;

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 62px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      left: 70px;
    }
  }

  &--checkbox {
    position: relative;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 67px;
      left: 1px;
    }

    @media (min-width: @desktop-width) {
      left: 70px;
    }

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 62px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }
  }

  &--name {
    position: relative;
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 7px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      left: 70px;
    }

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 62px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--colors {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__item {
  &--colors {
    margin-bottom: 43px;

    @media (min-width: @tablet-width) {
      margin-bottom: 57px;
    }
  }

  &--radio {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 56px;
    }
  }

  @media (min-width: @tablet-width) {
    &--colors {
      width: 262px;

      @media (min-width: @desktop-width) {

        width: 262px;
      }
    }
  }
}

.form__label {
  display: inline-block;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }

  &--text {
    padding-bottom: 9px;

    @media (min-width: @tablet-width) {
      padding-right: 24px;
      padding-left: 27px;
      padding-bottom: 29px;
    }
  }

  &--tel {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      padding-top: 4px;
      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      padding-left: 70px;
    }

    @media (max-width: @only-mobile-width) {
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 62px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 34px;
      right: 6px;
      width: 26px;
      height: 26px;
      background-image: url("../img/icon-phone.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        right: 0;
        left: 620px;
        top: 0;

        @media (min-width: @desktop-width) {
          left: 790px;
        }
      }
    }
  }

  &--email {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      padding-top: 5px;
      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      padding-left: 70px;
    }

    @media (max-width: @only-mobile-width) {
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 81px;
        width: 180px;
        height: 1px;
        background-color: @leftgreen;
      }
    }


    &::after {
      content: "";
      position: absolute;
      top: 34px;
      right: 3px;
      width: 32px;
      height: 26px;
      background-image: url("../img/icon-mail.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        right: 0;
        left: 615px;
        top: 0;
      }

      @media (min-width: @desktop-width) {
        left: 785px;
      }
    }
  }

  &--radio {
    position: relative;
    padding-left: 63px;
    padding-right: 30px;

    @media (min-width: @tablet-width) {
      padding-left: 107px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid  @greyish-brown;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        top: -16px;
        left: 26px;
        width: 53px;
        height: 53px;
      }
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 62px;
    padding-right: 30px;

    @media (min-width: @tablet-width) {
      padding-left: 107px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 28px;
      width: 52px;
      height: 52px;
      border: 2px solid  @greyish-brown;
    }
  }

  &--textarea {
    position: relative;
    color: @leftgreen;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media (max-width: @only-mobile-width) {
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 62px;
        width: 198px;
        height: 1px;
        background-color: @leftgreen;
      }
    }

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 80px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      padding-left: 70px;
    }
  }
}

.form__control {
  font-family: @font-main;
  font-style: normal;

  color: @greyish-brown;

  width: 260px;
  border: none;
  padding-top: 5px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    &--text {
      border-bottom: 2px solid @black;
      width: 375px;

      @media (min-width: @desktop-width) {
        width: 515px;
      }
    }

    &--name {
      width: 428px;

      @media (min-width: @desktop-width) {
        width: 565px;
      }
    }
  }

  &--tel {
    padding-right: 30px;
    background-color: transparent;

    @media (min-width: @tablet-width) {
      width: 500px;
      border-bottom: 2px solid @black;
    }

    @media (min-width: @desktop-width) {
      width: 645px;
      margin-right: 227px;
    }
  }

  &--email {
    background-color: transparent;
    padding-right: 30px;

    @media (min-width: @tablet-width) {
      width: 500px;
      border-bottom: 2px solid @black;
    }

    @media (min-width: @desktop-width) {
      width: 645px;
      margin-right: 227px;
    }
  }

  &--textarea {
    border: 2px solid @greyish-brown;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 15px;
    padding-bottom: 27px;

    @media (min-width: @tablet-width) {
      width: 500px;
      margin-top: 50px;
      margin-left: 170px;
    }

    @media (min-width: @desktop-width) {
      width: 655px;
    }
  }

  &::placeholder {
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: @greyish-brown-30;

    @media (min-width: @tablet-width) {
      font-size: 19px;
      padding-left: 18px;
    }
  }

  &--tel::placeholder {
    font-size: 19px;
  }
}

.form__wrapper {
  border-bottom: 2px solid @black;
  display: flex;
  flex-direction: column;

  &--name {
    margin-bottom: 24px;
  }

  &--tel {
    margin-bottom: 32px;
  }

  @media (min-width: @tablet-width) {
    &--name {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      border: none;
    }

    &--tel {
      flex-direction: row;
      justify-content: space-between;
      border: none;
      margin-top: 62px;
      margin-bottom: 34px;
    }

    &--email {
      flex-direction: row;
      justify-content: space-between;
      border: none;
      margin-bottom: 50px;
    }
  }
}

.form__footnote-wrapper {
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.form__footnote-para {
  margin-top: 0;
  margin-bottom: 31px;
}

.form__footnote {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 220px;
  }
}

.form__button {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #444444;
  background-color: @white;

  width: 260px;
  min-height: 52px;

  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid #444444;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 170px;
  }
}
