.main-nav {
  @media (min-width: @tablet-width) {
    margin-bottom: -40px;
  }
}

.main-nav__logo-wrapper {
  @media (max-width: @only-mobile-width) {
    display: flex;
    width: @mobile-width;
    justify-content: center;
    position: relative;
    min-height: 80px;
    margin: 0 auto;
    padding: 20px 30px 0;
    border-bottom: 1px solid @white-g;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    order: -2;
    align-self: center;
    padding-top: 5px;
    padding-left: 49px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    padding-left: 0;
    padding-right: 48px;
  }
}

.main-nav__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--non-clickable {
    pointer-events: none;
  }
}

.main-nav__list-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;

  &--hide {
    display: none;
  }

  @media (max-width: @only-mobile-width) {
    width: @mobile-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}


.main-nav__point {
  @media (max-width: @only-mobile-width) {
    &--hide {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: @greyish-brown;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 0;
    padding-right: 49px;
    z-index: 1;
  }
}

.main-nav__toggle {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: @only-mobile-width) {
    position: absolute;
    top: 29px;
    right: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    &--nojs {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
