.main-nav__logo {
  z-index: 3;
}

.main-nav__logo-wrapper {
  display: flex;
  width: @mobile-width;
  justify-content: center;
  position: relative;
  min-height: 80px;
  margin: 0 auto;
  padding: 20px 30px 0;
  border-bottom: 1px solid @white-g;

  @media (min-width: @tablet-width) {
    position: relative;
    width: @tablet-width;
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    justify-content: center;
  }
}

.main-nav__list-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: @only-tablet-width) {
    width: @mobile-width;
    margin: 0 auto;

    &--hide {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__toggle {
  @media (max-width: @only-mobile-width) {
    position: absolute;
    top: 25px;
    right: 20px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
