.page-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  color: @black;
  background-color: @footer;

  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 77px;
  padding-bottom: 77px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 95px;
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
