.page-footer {
  background-color: @footer;
}

.page-footer__social {
  border-bottom: 2px solid @white-g;

  padding-left: 26px;
  padding-right: 26px;
  padding-top: 30px;
  padding-bottom: 15px;
}
