.product {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: @greyish-brown;
}

.product__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.product__title-week {

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  color: #63d1bb;

  margin-top: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: @greyish-brown;
  padding-left: 20px;
  padding-right: 20px;
}

