.product-description {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: @greyish-brown;
  padding-left: 20px;
  padding-right: 20px;
}

.product-description__field {
  padding-right: 20px;
}
