.product {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    min-height: 600px;
  }

  @media (min-width: @desktop-width) {
    min-height: 775px;
  }
}

.product__title-top {
  margin: 0;
  padding: 0;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    padding-top: 123px;
  }
}

.product__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    margin-left: -3px;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-right: 353px;
    z-index: 1;
  }
}

.product__title-week {

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  color: @leftgreen;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 5px;

  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    line-height: 17px;
    text-align: center;

    padding-right: 27px;
    padding-top: 3px;
  }

  @media (min-width: @tablet-width) {
    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 46px;
    padding-right: 18px;
    padding-top: 14px;
  }
}

.product__middle-wrapper {
  margin-bottom: 29px;
  padding-top: 7px;

  @media (min-width: @tablet-width) {
    padding-top: 32px;
    padding-right: 340px;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 540px;
    padding-left: 175px;
  }
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 45px;
  }
}

.product__description-table {
  border-collapse: collapse;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: @greyish-brown;
  width: 260px;

  margin-top: 15px;

  &--field {
    padding-right: 13px;
    padding-top: 10px;
    border-bottom: 1px solid @white-g;

    @media (min-width: @tablet-width) {
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
    }
  }

  &--value {
    border-bottom: 1px solid @white-g;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: @tablet-width) {
    width: 292px;
    margin-top: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
  }
}

.product__image {
  display: block;
  width: 260px;
  height: 315px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 152px;
    right: 51px;
    width: 333px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;

    top: 71px;
  }
}

.product__bottom-wrapper {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-right: 340px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 540px;
    padding-left: 175px;
    padding-top: 71px;
  }
}

.product__price {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  color: @greyish-brown;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 41px;
    padding-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 43px;
    padding-right: 87px;
  }
}

.product__order {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  text-align: center;

  color: @greyish-brown;

  padding-top: 14px;

  width: 259px;
  min-height: 52px;
  border: 2px solid @greyish-brown;

  @media (min-width: @tablet-width) {
    width: 292px;
  }
}

.product__wrapper {
  margin: 0;
}
