.reviews {
  @media (min-width: @tablet-width) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350 457;
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;

  margin: 0;


  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__blockquote {
  margin: 0;
}

.reviews__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__cite {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  color: @black;

  @media (min-width: @tablet-width) and (max-width: @only-tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__email-link {
  font-size: 17px;
  line-height: 30px;
  color: @greyish-brown;
}

.reviews__button-wraper {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
}

.reviews__button {
  border: 1px solid @white-g;
  width: 130px;
  height: 50px;
  background-color: @white;
  margin: 0;
  padding: 0;
}

.reviews__write {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @greyish-brown;

  padding-top: 14px;
  margin-bottom: 30px;
  width: 259px;
  min-height: 52px;
  border: 2px solid @greyish-brown;

  @media (min-width: @tablet-width) {
    width: 292px;
  }
}
