.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: @black;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__blockquote {
  margin: 0;
}

.reviews__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 20px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__cite {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  color: @black;
  padding-left: 20px;

  @media (min-width: @tablet-width) and (max-width: @only-tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__email-link {
  font-size: 17px;
  line-height: 30px;
  color: @greyish-brown;
  padding-left: 20px;
}

.reviews__button {
  border: 1px solid @white-g;
  width: 130px;
  height: 50px;
  background-color: @white;
  margin-left: 20px;
}

.reviews__write {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  color: @greyish-brown;

  margin-left: 18px;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 7px;
  padding-bottom: 7px;

  border: 2px solid @greyish-brown;
}
