.site-list {
  @media (min-width: @tablet-width) {
    &--left {
      display: flex;
      flex-direction: row;
      order: 0;
    }

    &--right {
      display: flex;
      order: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &--left {
      order: -2;
    }
  }
}


.site-list__item {
  border-bottom: 1px solid @white-g;

  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.site-list__point {
  @media (max-width: @only-mobile-width) {
    &--hide {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: @greyish-brown;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-right: 30px;
  }
}

.site-list__link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;

  &--search {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 31px;
      left: 32px;
      width: 22px;
      height: 22px;
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--cart {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 31px;
      width: 23px;
      height: 23px;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: @tablet-width) {
    &--left {
      padding-left: 29px;
      padding-top: 12px;
      padding-bottom: 5px;
    }

    &--cart {
      padding-right: 48px;
    }

    &--search {
      font-size: 0;
      border-left: 1px solid @white-g;
      border-right: 1px solid @white-g;

      &::before {
        top: 30px;
        left: 30px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--left {
      padding-top: 26px;
      padding-bottom: 29px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &--hide {
      padding-left: 29px;
      padding-top: 12px;
      padding-bottom: 5px;
    }

    &--border {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
        width: 1px;
        background-color: @white-g;
      }
    }
  }
}

.site-list__item-stll {
  @media (max-width: @only-mobile-width) {
    padding-left: 5px;
  }
}
