.site-list {
  @media (min-width: @tablet-width) {
    &--left {
      display: flex;
      flex-direction: row;
      order: 0;
    }

    &--right {
      display: flex;
      order: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &--left {
      order: -2;
    }
  }
}


.site-list__item {
  border-bottom: 1px solid @white-g;

  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet-width) {
    border: none;

    &--right {
      box-shadow: inset 1px 0 0 0 #e5e5e5;
    }

    &--border {
      position: relative;
    }
  }

  @media (min-width: @desktop-width) {
    &--border {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -14px;
        height: 80px;
        width: 1px;
        background-color: @white-g;
      }
    }

    &--hide {
      padding-right: 9px;
    }
  }
}

.site-list__point {
  @media (max-width: @only-mobile-width) {
    &--hide {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: @greyish-brown;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 0;
    padding-right: 49px;
    z-index: 1;
  }
}

.site-list__link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
  fill: @icon-20;

  &:hover {
    color: @black-60;
    fill: @leftgreen;
  }

  &:active {
    color: @black-30;
    fill: @leftgreen-30;
  }

  &--non-clickable {
    pointer-events: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 21px;
    padding-bottom: 33px;
    padding-left: 82px;
  }

  &--search {
    position: relative;
  }

  &--cart {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    &--left {
      padding-left: 43px;
      padding-top: 17px;
      padding-bottom: 0;
      font-size: 15px;
    }

    &--cart {
      padding-right: 50px;
    }

    &--search {
      font-size: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--left {
      padding-top: 22px;
      padding-bottom: 29px;
      padding-left: 49px;
      padding-right: 23px;
      font-size: 17px;
    }

    &--hide {
      padding-left: 52px;
      padding-top: 16px;
      padding-bottom: 0;
      font-size: 15px;
    }
  }
}

.site-list__loupe {
  position: absolute;
  top: 31px;
  left: 32px;

  @media (min-width: @tablet-width) {
    top: 26px;
  }
}

.site-list__cart {
  position: absolute;
  top: 31px;
  left: 32px;

  @media (min-width: @tablet-width) {
    top: 26px;
  }
}

.site-list__item-stll {
  @media (min-width: @mobile-width) {
    padding-left: 5px;
  }
}
