// цвета
@white:#ffffff;
@white-30:rgba(255, 255, 255, 0.3);
@black:#000000;
@black-30: rgba(0, 0, 0, 0.3);
@black-60: rgba(0, 0, 0, 0.6);
@green:#62d1ba;
@leftgreenbtn:#63d1bb;
@leftgreenbtn:#3bb09d;
@rightgreen:#56c3b2;
@rightgreenbtn:#35a999;
@leftgreenhover:#59d5bc;
@leftgreenbtnhover:#29a592;
@rightgreenhover:#46c1ae;
@rightgreenbtnhover:#239f8e;
@greyish-brown:#444444;
@greyish-brown-30:rgba(68, 68, 68, 0.3);
@linkdown:rgba(70, 193, 174, 0.3);
